.container {
  margin-top: 2em;
  width: 75em;
}

.square {
  height: 50px;
  width: 50px;
  border: 1.5px solid black;
}

.diagonal {
  background: linear-gradient(
    135deg,
    transparent 48%,
    red 48%,
    52%,
    transparent 52%
  );
}

.form-group {
  padding: 1em;
}

.right,
.up,
.upRight {
  transition: border-color 0.5s ease;
}

.right {
  border-bottom: 5.5px solid mediumspringgreen;
}

.up {
  border-left: 5.5px solid magenta;
}

.upRight {
  border-right: 5.5px solid magenta;
}

.btn {
  margin-bottom: 1em;
}
