.container {
  padding: 2em;
}

.square {
  height: 50px;
  width: 50px;
  border: 1.5px solid black;
}

.diagonal {
    background: linear-gradient(135deg, transparent 48%, red 48%,  52%, transparent 52%);
}

.form-group {
  padding: 1em;
}

.right {
    border-bottom: 5.5px solid mediumslateblue;
}

.up {
    border-left: 5.5px solid mediumseagreen;
}

.upRight {
    border-right: 5.5px solid mediumseagreen;
}

.btn {
  margin-bottom: 2em;
}
